/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1/08/2023, 1:07:24 pm
    Author     : dyrellumiwes
*/

/* Font */
* {
    /* No white space*/
    font-family: 'Montserrat', sans-serif;
    font-family: 'Zilla Slab', serif;
    

}

.error-messages{
    top:30px;
}


.categoryButton{
    align-items: center;
}

/* centre the main content area */
main {
	max-width: 800px;
	margin: auto;
}

/*nav a:hover {
    transform: scale(1.5);    
}*/

/* page headings */
h1 {
	text-align: center;
	padding: 10px;
        
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .7);
-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}

nav a {
	border:solid;
	padding: 5px;
	margin: 5px;
	text-decoration: none;
	border-radius: 10px;
}

nav {
	text-align: center;
        margin-top: 15px;
}

.createText{
        	text-align: center;

}


/* tables */
table {
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0px 0px;
}

fieldset{
      background-color: lightgray;
      
          -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .7);
-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
box-shadow: 0 4px 6px rgba(0, 0, 0, .3);

}

legend{
     background-color: lightgray;
     border-top-color: thin darkslategrey;

}

td, th {
	border: thin;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

/* forms */
form {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-gap: 1em 0.5em;
}

label {
	grid-column: 1 / 2;
	text-align: right;
}

input, button, select, textarea {
	grid-column: 2 / 3;
}

textarea {
	height: 4em;
	resize: vertical;
}

/* colours */
th, a.nav, legend, label {
	color: darkslategray;
}

h1, button {
	background-color: darkslategrey;
	color: white;
}
button{
    height :25px;
}

button:hover {
    cursor: pointer;
    background: white;
    color: darkslategrey;
    border: solid darkslategrey;

}

td, th {
	border-color: darkslategrey;
}

