/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1/08/2023, 1:07:24 pm
    Author     : dyrellumiwes
*/

/* Font */
* {
    /* No white space*/
    font-family: 'Montserrat', sans-serif;
    font-family: 'Zilla Slab', serif;
    

}

.categoryButton{
    margin: 50px;
}

/* centre the main content area */
main {
	max-width: 800px;
	margin: auto;
}

/*nav a:hover {
    transform: scale(1.5);    
}*/

/* page headings */
h1 {
	text-align: center;
	padding: 10px;
}

nav a {
	border:solid;
	padding: 5px;
	margin: 5px;
	text-decoration: none;
	border-radius: 10px;
}

nav {
	text-align: center;
        margin-top: 15px;
}

.createText{
        	text-align: center;

}

/*nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 1rem;
    
}

nav ul {
    grid-column: 2;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav ul li {
    text-decoration: none;
    list-style: none;
   
}

nav ul li a {
    color: var(--primary);
}

nav p {
    
}
nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 1rem;
    
}

nav ul {
    grid-column: 2;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav ul li {
    text-decoration: none;
    list-style: none;
   
}

nav ul li a {
    color: var(--primary);
}

nav p {
    
}*/



/* tables */
table {
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0px 0px;
}

td, th {
	border: thin;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

/* forms */
form {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-gap: 1em 0.5em;
}

label {
	grid-column: 1 / 2;
	text-align: right;
}

input, button, select, textarea {
	grid-column: 2 / 3;
}

textarea {
	height: 4em;
	resize: vertical;
}

/* colours */
th, a.nav, legend, label {
	color: darkslategray;
}

h1, button {
	background-color: darkslategrey;
	color: white;
}

button:hover {
    cursor: pointer;
    background: white;
    color: darkslategrey;
    border: solid darkslategrey;

}

td, th {
	border-color: darkslategrey;
}

